<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Breed</th>
        <th>Age</th>
    </tr>
    <tr th:each="dog : ${dogs}">
        <td th:text="${dog.getId()}">ID</td>
        <td th:text="${dog.getName()}">Name</td>
        <td th:text="${dog.getBreed()}">Breed</td>
        <td th:text="${dog.getAge()}">Age</td>
    </tr>
</table>

</body>
</html>